@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital@1&display=swap");

/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #30302f;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  /* background-image: url("../images/island2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
.container {
  display: flex;
  /* flex-direction: row; */
  width: 100vw;
  height: 100%;
}

.main-intro {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  height: 100%;
  width: 40%;
}
.main-intro .intro {
  margin-top: 150px;
}
.main-intro h1 {
  font-size: 33px;
}
.main-intro p {
  font-size: 20px;
  margin-bottom: 30px;
}
.main-image {
  height: 85%;
  width: 60%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  overflow: hidden;
  margin: 10px 20px;
}
.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar {
  font-family: "Pacifico", cursive;
  color: #dfb18c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
}

li {
  display: inline;
  margin-left: 29px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #dfb18c;
  font-size: 20px;
}

.nav-links a:hover {
  color: #dfb18c;
  border-bottom: 2px solid #dfb18c;
}

span {
  color: #dfb18c;
}

.section-container {
  margin: 40px 100px;
}

.accomodations-container .intro {
  margin-bottom: 25px;
}
.rooms-container {
  margin: 40px;
}
.rooms .card {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.rooms .image img {
  width: 400px;
  border-radius: 10px;
}

.rooms .description p {
  padding: 20px 0px;
}

.rooms .description hr {
  background-color: grey;
  padding: 1px;
  border: none;
}

.room-description {
  font-size: 12px;
}
.activity {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.activities .activity img {
  border-radius: 20px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 10px 0px;
}

.about-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 40px;
}

.about-container .image {
  height: 65%;
}
.about-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.about-container .about {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.contacts-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 40px;
  padding: 40px;
  border-radius: 20px;
}

.contacts-container .image {
  width: 50%;
}
.contacts-container .image img {
  width: 100%;
}
.contacts-container .contacts {
  display: flex;
  flex-direction: column;

  margin: 30px;
}
.contacts-container .contacts img {
  width: 35px;
  border-radius: 50%;
}

.contacts-container .contacts h2 {
  margin-bottom: 10px;
}
.contacts-container .contacts p {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.contacts a {
  text-decoration: none;
  font-size: 18px;
}
.facebook {
  color: #3a589b;
}
.twitter {
  color: #56def3;
}
.instagram {
  color: #d44b89;
}
.gmail {
  color: #f04336;
}
