@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital@1&display=swap");

/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #30302f;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  /* background-image: url("../images/island2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.main-intro {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  /* justify-content: center; */
  height: 100%;
  width: 40%;
  /* background-color: blue; */
}
.main-intro .intro {
  margin-top: 150px;
}
.main-intro h1 {
  font-size: 33px;
}
.main-intro p {
  font-size: 20px;
  margin-bottom: 30px;
}
.main-image {
  height: 85%;
  width: 60%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  overflow: hidden;
  margin: 20px;
}
.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar {
  font-family: "Pacifico", cursive;
  color: #dfb18c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
}

li {
  display: inline;
  margin-left: 29px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #dfb18c;
  font-size: 20px;
}

a:hover {
  color: #dfb18c;
  border-bottom: 2px solid #dfb18c;
}

span {
  color: #dfb18c;
}
